.show { display: block; }
.school-hidden { display: none; }
.school-hidden tr:first-child td {
    margin: 20px 0;
}

.school-hidden tr:last-child td {
    width: 100%;
    border: none;
    margin: 20px 0;
    display: block;
}
div#assignClassShow {
    padding: 20px 0;
    font-size: 16px;
    color: #f37a2a;
}